/*---------------------------------------
------------- 75EM -----------------------
-----------------------------------------*/

@media (max-width: 75em) {
  .cta-div {
    padding: 9.6rem;
    width: 80%;
  }
}

/*---------------------------------------
------------- 61EM -----------------------
-----------------------------------------*/

@media (max-width: 61em) {
  .pricing-grid {
    grid-template-columns: 1fr;
  }

  .pricing-div:hover {
    transform: translateY(0);
  }
}

/*---------------------------------------
------------- 59EM -----------------------
-----------------------------------------*/

@media (max-width: 59em) {
  .header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }

  .club-section-grid {
    grid-template-columns: 100%;
  }

  .club-section-text-div {
    align-items: center;
    justify-content: center;
    padding: 4.8rem;
  }

  .club-section-p {
    margin-bottom: 3.6rem !important;
  }

  .club-section-img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.8rem;
  }

  .club-section-img {
    width: 50%;
  }

  .club-section-btn1-display {
    display: none;
  }

  .club-section-btn2-display {
    display: flex;
  }

  .gym-item-grid {
    grid-template-columns: 1fr;
    margin-top: 3.2rem;
  }

  .gym-item-img-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .gym-item-img-grid {
    order: 2;
  }

  .gym-item-text-div {
    order: 1;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(40, 40, 40);
  }
}

/*---------------------------------------
------------- 45EM -----------------------
-----------------------------------------*/

@media (max-width: 45em) {
  header .nav-btn {
    display: block;
  }

  header .nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.6rem;
    background-color: black;
    transition: 1s;
    transform: translateY(-300vh);
  }

  header .nav-links-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.8rem;
  }

  header .responsive-nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .cta-section {
    height: 60rem;
  }

  .cta-div {
    padding: 2.4rem;
    width: 100%;
  }

  .club-section {
    padding: 6rem 0 0 0;
  }

  .club-section-text-div {
    padding: 1.6rem;
  }

  .about-section h2 {
    text-align: center;
  }

  .about-section p {
    text-align: center;
  }

  .info-grid {
    width: 90%;
  }

  .who-we-are-grid {
    grid-template-columns: 1fr;
  }

  .who-we-are-left-div {
    align-items: center;
  }

  .who-we-are-img-div {
    justify-content: center;
  }

  .who-we-are-img {
    width: 50%;
  }

  .facilities-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6.4rem;
  }

  .gym-item-img-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .gym-img {
    width: 100%;
  }
}

/*---------------------------------------
------------- 37EM -----------------------
-----------------------------------------*/

@media (max-width: 37em) {
  .info-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .who-we-are-img {
    width: 85%;
  }

  .who-we-are-left-div {
    padding: 0.8rem;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .services-item-div {
    width: 50%;
    margin: 0 auto;
  }

  .services-img {
    width: 100%;
    height: 100%;
  }

  .gym-icon-text {
    text-align: center;
  }

  .gym-item-text-div {
    padding: 0;
  }

  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*---------------------------------------
------------- 27EM -----------------------
-----------------------------------------*/

@media (max-width: 27em) {
  .header-div {
    width: 90%;
  }

  .logo-link {
    width: 10rem;
    height: 10rem;
  }

  .heading-primary {
    font-size: 3.6rem;
  }

  .cta-div {
    padding: 0rem;
    width: 100%;
  }

  .services-item-div {
    width: 80%;
  }

  .club-section-img {
    width: 80%;
  }

  .gym-icon {
    width: 5rem;
    height: 5rem;
  }

  .gym-icon-text {
    text-align: center;
  }

  .facilities-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.8rem;
  }

  .facilities-img {
    width: 4rem;
    height: 4rem;
  }

  .footer {
    padding-top: 3.6rem;
  }

  .footer-main-div {
    padding: 0.8rem;
    margin-bottom: 3.6rem;
    width: 90%;
  }

  .footer-grid {
    grid-template-columns: 1fr;
  }

  .footer-form {
    flex-direction: column;
  }

  .newsletter-div h3 {
    text-align: center;
  }
}
