.classes-main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.classes-main-img-div {
  background-image: url("/public/img/Classes-main-img.webp");
  background-size: cover; /* Adjust the size of the background image */
  background-position: center; /* Center the background image */
  width: 100%;
  height: 50vh;
}

.classes-main-section h1 {
  color: rgba(40, 40, 40);
  font-size: 2.6rem;
  text-align: center;
  padding: 0.8rem;
  border-radius: 5px;
}

.schedule-p {
  color: #8ebd0b;
  margin-top: 2.4rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.days-table-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  margin-top: 4.6rem;
  flex-wrap: wrap;
}

.classes-day-active {
  font-size: 1.6rem;
  padding: 0.8rem 2.4rem;
  background-color: #8ebd0b;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.classes-day-non-active {
  font-size: 1.6rem;
  padding: 0.8rem 2.4rem;
  border-radius: 20px;
  color: rgba(40, 40, 40);
  cursor: pointer;
  transition: all 0.3s;
}

.schedule-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 120rem;
  margin: 2.4rem auto 0 auto;
}

.schedule-div {
  display: flex;
  gap: 6.4rem;
  padding: 1.2rem 4.8rem;
  width: 100%;
  margin-top: 1.2rem;
  background-color: rgba(40, 40, 40);
  align-items: center;
  border-radius: 5px;
}

.schedule-class-type-div {
  padding: 1.2rem;
}

.schedule-div p {
  font-size: 1.4rem;
  color: rgb(217, 217, 217);
}

.schedule-div h4 {
  font-size: 1.6rem;
  color: white;
}

.schedule-btn {
  height: 3rem;
  width: 10rem;
  background-color: #8ebd0b;
  border: 2px solid #8ebd0b;
  border-radius: 5px;
  font-weight: 700;
  color: white;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.3s;
}

.schedule-btn:hover {
  background-color: rgba(40, 40, 40);
  color: #b1ec0e;
}

.more-info-btn {
  height: 3rem;
  width: 10rem;
  background-color: white;
  color: rgba(40, 40, 40);
  border: 2px solid rgba(40, 40, 40);
  font-weight: 700;
  border-radius: 5px;
  margin-top: 3.6rem;
  cursor: pointer;
  transition: all 0.3s;
}

.more-info-btn:hover {
  color: #8ebd0b;
  border: 2px solid #8ebd0b;
}

.no-classes-message {
  text-align: center;
  font-size: 2.6rem;
  padding: 4.2rem;
  color: rgba(40, 40, 40);
}

/* ----------------------------------------------
------------------ COACHES ------------------
------------------------------------------------*/

.coaches-p {
  text-align: center;
  margin-top: 9.6rem;
}

.coaches-h2 {
  text-align: center;
}

.coaches-main-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.6rem 2.4rem 6.4rem 2.4rem;
}

.coaches-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coaches-img {
  width: 60%;
  border: 2px solid #8ebd0b;
  border-radius: 50%;
  padding: 0.2rem;
  background-color: rgb(40, 40, 40);
}

.coaches-name {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 0.8rem;
  text-align: center;
}

/* ----------------------------------------------
------------------ CLASSES INFO ------------------
------------------------------------------------*/

.classes-section {
  margin: 9.6rem auto 0rem auto;
  background-color: white;
  padding: 4.8rem 0 12rem 0;
  opacity: 0;
  transition: all 0.75s ease;
}

.classes-section.scrolled {
  opacity: 1;
  background-color: rgba(40, 40, 40);
}

.classes-section h2 {
  text-align: center;
  color: white;
}

.classes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: 4.8rem auto 0rem auto;
}

.classes-text-div {
  padding: 0 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.8rem;
}

.heading-terciary span {
  font-size: 1.8rem;
  color: rgb(211, 211, 211);
}

.classes-text-div p {
  font-size: 1.6rem;
  color: white;
  line-height: 2.2rem;
}

.classes-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.classes-img {
  width: 70%;
  border: 3px solid #b1ec0e;
  border-radius: 5px;
}

.seperator {
  height: 2px;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.361);
  margin: 7.2rem auto;
}

.last-seperator {
  background-color: #b1ec0e;
  margin-top: 7.2rem;
  margin-bottom: 0;
}
