* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.heading-secondary {
  font-size: 3.6rem;
  color: rgb(40, 40, 40);
}
